/* Here we define all the variables 
and needed things for the styling of the app 
(things like the var(--color-bg) will get things from here) */

/* Import the api that contains the font that we want */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --font-family: 'Manrope', sans-serif;

    /* These are gradients that we use in the website */
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

    /* These are different colors for different stuff in our website */
    --color-bg: #040C18;
    --color-footer : #031B34;
    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
    --color-buttons: #FF4820;
    --color-button-SignIn-hover: #ff3a20;
    --color-button-SignIn-active: #ff1e00;
}
